<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
    <!--<meta charset="UTF-8"/>-->
    <!--<title>TomWang todo-list</title>-->
    <!--<style>-->
        <!--.positions{-->

        <!--}-->
        <!--.color{-->
            <!--color: red;-->
        <!--}-->
    <!--</style>-->
<!--</head>-->
<!--<body>-->
    <!--<table>-->
        <!--<th:block th:each="table : ${table}">-->
            <!--<tr>-->
                <!--<td class="positions color" th:text="${table.getId()}">-&#45;&#45;&#45;&#45;&#45;&#45;</td>-->
                <!--<td class="color positions" th:text="${table.getTodo()}">&#45;&#45;&#45;&#45;&#45;&#45;</td>-->
            <!--</tr>-->
        <!--</th:block>-->
    <!--</table>-->
<!--</body>-->
<!--</html>-->